table{
	empty-cells: hide;
}
 td{
	border: 2px solid black;
	border-collapse: collapse;
}

p{
	font-weight: bold;
	font-size: 1.5vw;
}

.box td, th{
	width: 5vw;
	height: 5vw;
	text-align: center;
	position: relative;
}

.lower_left_corner{
	font-size: 1.1vw;
	position: absolute;
	bottom: 0;
	left: 0;
}

.top_right_corner{
	font-size: 1.1vw;
	position: absolute;
	top: 0;
	right: 0;
}

.nonmetals{
	background-color: rgb(104, 169, 104);
}

.lanthanides{
	background-color: rgb(105, 74, 45);
}

.alkali_metals{
	background-color: rgb(138, 98, 61);
}

.alkali_non-metals{
	background-color: rgb(189, 148, 110);
}

.semimetals{
	background-color: rgb(59, 123, 104);
}

.noble_gases{
	background-color: rgb(138, 107, 167);
}

.post-transition_metals{
	background-color: rgb(78, 88, 230);
}

.transition_metals{
	background-color: rgb(160, 70, 70);
}
